<div class="text-white">
    <h3 class="text-center"></h3>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="'/dashboard'"><i class="bi bi-globe-americas"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="'/dashboard'"><i class="bi bi-camera-reels"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="'/dashboard'" ><i class="bi bi-broadcast"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="'/dashboard'" ><i class="bi bi-radioactive"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="logout()" style="cursor: pointer;" ><i class="bi bi-box-arrow-left"></i></a>
        </li>
    </ul>
</div>